<div class="container ejercicios">
	
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#FB4655;">7 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>El joven está corriendo por las calles, salpicando todo a su alrededor con el agua de la lluvia que cayó hace poco. Ahora que dejó de llover puede escapar. ¿De qué está escapando? ¿A dónde se dirige? (Escribe una historia en 500 palabras)
			</p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#7E78E4;">6 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>Sal a caminar. Encuentra personajes. Puede ser una señora vendiendo frutas o un niño caminando a la escuela. O ¿por qué no el taxista que te llevó a la ciudad? Escoge a 3 y escribe 100 palabras para cada uno de ellos, contándonos su historia. </p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#FA8829;">5 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>Ten una conversación con un objeto que tengas a tu derecha.</p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#65ced6;">4 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>Piensa en la última persona que viste. Descríbela con detalle. (Su ropa, el color de su piel, ojos y cabello, las cosas que dice, la manera en la que habla, etc.) (300 palabras)</p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#C00716;">3 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>Llegaste tarde al trabajo porque te quedaste dormido. Tu jefe te había advertido que la próxima vez que llegues tarde, perderás tu trabajo. Debes inventar  una muy buena historia.(Escribe tu historia. 500 palabras) </p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#06B524;">2 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>Escribe sobre la experiencia de viajar.(500 palabras)</p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<hr>
	<br><br>
	<div class="row">
		<div class="col-lg-6 ">
			<h2 style="color:#FDDC52;">1 de abril</h2>
		</div><!-- col-lg-6 -->
		<div class="col-lg-6 ">
			<p>Cuando eras pequeño, podías jurar que había un monstruo viviendo debajo de tu cama, pero nadie te creía. Hoy es tu cumpleaños número 40 y escuchas ruidos debajo de la cama. El monstruo ha regresado y tiene algo importante que decirte. (Escribe tu historia. 1000 palabras)</p>
			<p>
				<button type="button" class="btn btn-warning btn-lg">Escribe</button>
			</p>
		</div>
	</div><!-- row -->

	<br><br>
	<div class="row">
		<div class="col-lg-12 centered ">
			<h4>Next / Prev</h4>
		</div><!-- col-lg-6 -->
	</div>
</div><!-- container -->